.page {
  .primaryButton {
    background-color: var(--primary);
    color: var(--primary-foreground);
    display: inline-block;
    padding: 6px 16px;
    border-radius: 10px;
    border: none;
    font-size: 0.9rem;
    // width: 100px;
  }
  .secondaryButton {
    background-color: #ccc;
    color: var(--secondary-foreground);
    display: inline-block;
    padding: 6px 16px;
    border-radius: 10px;
    font-size: 0.9rem;
    border: none;
    cursor: pointer;
  }
}
